{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <p class="lead">プロフィール画像</p>
    <img src="{{user.profile_image.url}}" class="img-thumbnail" width="240" height="240">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="token" value="profile_image">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name="profile_image">
            <button type="submit" class="btn btn-outline-info">アップロード</button>
        </div>
    </form>
    <p class="lead">自己紹介</p>
    <form action="" method="POST">{% csrf_token %}
        <input type="hidden" name="token" value="self_introduction">
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="self_introduction">{{user.self_introduction}}</textarea>
            <button type="submit" class="btn btn-info">保存</button>
        </div>
    </form>
    <a href="{% url 'my_tweets' %}" class="btn btn-secondary">戻る</a>
</main>
{% endblock content %}