{% extends "base.html" %}

{% load static %}

{% block content%}
<main class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="{{login_user.profile_image.url}}" width="60" height="60"></svg>
        <p class="h4">{{login_user.username}}</p>

        <form action="" method="POST">{% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-info">ツイート</button>
        </form>
    </div>
</main>
{% endblock content%}